h2 {
  color: #f3e068;
  text-align: center;
}

.intro {
  color: #03aef3
}

title {
  font-weight: bolder;
}

img {
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}